<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="/main-page*" access="hasRole('ROLE_USER')" />
		<form-login login-page="/" default-target-url="/main-page" login-processing-url="/j_spring_security_check" always-use-default-target="true" authentication-failure-url ="/loginfailed"/>
		<logout logout-success-url="/logout" />
		<http-basic />
	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service 
				authorities-by-username-query="select u.username, r.role from users u inner join roles r on u.role_id=r.role_id where u.username=?" 
				users-by-username-query="select u.username, u.password from users u where u.username=?"
				data-source-ref="dataSource"/>
		</authentication-provider>
	</authentication-manager>

</beans:beans>