<body class="container">


	<div id="form" class="form">
	<form method="post" action="<c:url value='j_spring_security_check'/>">
	<input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>
		<div>
			<label class="label">Username: </label>
			<br/>
			<input id="username" name="username" type="text" placeholder="Insert your username here"></input>
		</div>
		<div>
			<label class="label">Password: </label>
			<br/>
			<input id="password" name="password" type="password" placeholder="Insert your password here"></input>
		</div>
		<br/>
		<div>
			<input type="submit" name="commit" value="Login">
		</div>
	</form>
	</div>
</body>